@model QRCodeTracker.Models.Checkin

@{
    ViewData["Title"] = "Check in successful";

}

<h2> QR Code check in successful at location @Html.DisplayFor(model => model.Location). The current time is @Html.DisplayFor(model => model.PacificTime)</h2>

<p>Nice job!</p>